HELP.md

### Build output ###
target/
**/target/
**/build/

### Maven wrapper ###
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Spring Boot / Java ###
# Escludi artefatti compilati e runtime
*.class
*.jar
*.war
*.ear
*.log

# Non tracciare output o file temporanei
hs_err_pid*
replay_pid*

### Configurations donnees sensibles ###
/src/main/resources/application.properties
/application.properties
*.local.properties
*.env
*.secrets.*
.env.*


.DS_Store
Thumbs.db

### Custom ###
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/